

div hr{
    width: 70%;
    margin: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.container_left{
    margin: 50px ;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    height: auto;
    width: auto;
    padding: 10px;
}

img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

p{
   font-size: 1.5rem;
   margin: 5px;
}

.inner_left{
    text-align: left;
    padding: 0 0 0 15px;

}

.container_right{
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-row: 1fr;
    height: auto;
    width: auto;
    padding: 10px;
}

.inner_right{
    text-align: right;
    padding: 15px 15px 0 0 ;
}


.social{
    height: 30px;
    width: auto;
    margin: 0 5px 0 5px;
}


/* Menu bar ka css is here */
/* @import url('https://fonts.googleapis.com/css?family=Oswald:500');
.thx{
  position: fixed;
  left:50%;
  transform:translateX(-50%);
  bottom: 15px;
}
nav{
  width: 100%;
  text-align:center;
}
nav a{
  font-family: 'Oswald', sans-serif;
  font-weight:900;
  text-transform:uppercase;
  text-decoration:none;
  color:#080000;
  margin:0 15px;
  font-size:1.3rem;
  letter-spacing:1px;
  position:relative;
  display:inline-block;
}
nav a:before{
  content:'';
  position: absolute;
  width: 100%;
  height: 3px;
  background:#16151b;
  top:47%;
  animation:out 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;
}
nav a:hover:before{
  animation:in 0.2s cubic-bezier(1, 0, 0.58, 0.97) 1 both;

}
@keyframes in{
  0%{
    width: 0;
    left:0;
    right:auto;
  }
  100%{
    left:0;
    right:auto;
    width: 100%;
  }
}
@keyframes out{
  0%{
    width:100%;
    left: auto;
    right: 0;
  }
  100%{
    width: 0;
    left: auto;
    right: 0;
  }
}
@keyframes show{
  0%{
    opacity:0;
    transform:translateY(-10px);
  }
  100%{
    opacity:1;
    transform:translateY(0);
  }
}

@for $i from 1 through 5 {
  nav a:nth-child(#{$i}){
    animation:show .2s #{$i*0.1+1}s ease 1 both;
  }
} */