.main-container{
    display: block;
    width: 900px;
    height: 550px;
    background-color: rgb(152, 255, 152);
    margin-top: 100px;
    margin-bottom: -100px;
    margin-left: 230px;
    overflow-y: scroll;
}

.article-vessel{
    background-color: white;
    margin: 10px 10px 0px 10px;
    border-radius: 50px;
    height: 100px;
}

.content{
    padding-left: 35px;
    padding-right: 30px;
    margin-top: -20px;
    padding-bottom: 10px;
}