.tbd-container{
    width: 200px;
    /* background-color: rgb(152, 255, 152); */
    background-color: rgb(222, 255, 222);
    margin-right: 30px;
    margin-top: 100px;
}

.tbd-vessel{
    padding-left: 30px;
}